<div style="width:100%; text-align: center;">
    <span style="font-size: 40px;"><strong>Cart</strong></span>
</div>
<div class="cart-container">
    <div class="cart-main">
        <div class="checkbox">
            <input type="checkbox" id="checkbox-select-all">
            <span>Select All</span>
        </div>
    </div>
    {{#if itemCart}}
    <div class="item-wrapper">
        <div class="checkbox column"></div>
        <div class="img column">Image</div>
        <div class="title column">Title</div>
        <div class="amount column">Amount</div>
        <div class="price column">Price</div>
        <div class="total-price column">Total Price</div>
        <div class="remove column">Remove</div>
    </div>
    {{#each itemCart}}
    <div class="item-wrapper">
        <div class="checkbox column">
            <input type="checkbox" id="checkbox-select">
        </div>
        <div class="img column">
            <img src="/img/products/{{this.image}}" style="width: 80px; height: 60px;">
        </div>
        <div class="title column">{{this.title}}</div>
        <div class="amount column">
            <div class="btn-amount btn-amount-increase"><input type="button" value="▲" data-action="increase"></div>
            <div class="amount-value"><span>{{this.quantity}}</span></div>
            <div class="btn-amount btn-amount-decrease"><input type="button" value="▼" data-action="decrease"></div>
        </div>
        <div class="price column">{{this.price}} $</div>
        <div class="total-price column">{{multi2number this.quantity this.price}} $</div>
        <div class="remove column">
            {{!-- <form action="/cart/{{this.id}}/delete" method="POST">
                <button type="submit" class="button-hide" data-item-value="{{this.id}}">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </form> --}}
            <button type="submit" class="button-hide" data-item-value="{{this.id}}">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </div>
    </div>
    {{/each}}
    <div class="total-container">
        <div class="coupon">
            <span>Coupon code :</span>
            <input type="text" name="discount" id="discount">
            <input type="button" value="check" id="btn-cp-check">
        </div>
        <div class="shipping-fee">
            <span id="shipping-text">Shipping :</span>
            <span id="shipping-value">10</span>
            <span id="currency">$</span>
        </div>
        <div class="total-price">
            <span id="total-price-text">Total price:</span>
            <span id="total-price-cart-value">{{getTotalPriceAllItemCartAndShipping itemCart 10}}</span>
            <span id="currency">$</span>
        </div>
    </div>
    {{else}}
    <div class="noti">You have no items in your shopping cart</div>
    {{/if}}
    <script src="/js/cart.js"></script>
</div>