<div class="change-container">
    <h2>Change product</h2><br><br><br>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {{#each listProduct}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.image}}
                    <img src="/img/products/{{this.image}}" style="width: 20px; height: 20px;">
                </td>
                <td>{{this.link}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table><br><br>

    {{#if successful}}
    <span style="color: green">{{successful}}</span><br>
    {{/if}}
    {{#if error}}
    <span style="color: red">{{error}}</span><br>
    {{/if}}

    <form method="post">

        <span>Enter ID product: </span>
        <input type="text" name="id_product" required="required" autocomplete="off"><br><br>
        <fieldset style="width: 300px;">
            <legend>Choose 1 thing to change</legend>
            <input type="radio" name="change_fn" value="Title" id="title_change">
            <label for="title_change">Title</label><br>
            <input type="radio" name="change_fn" value="Description" id="description_change">
            <label for="description_change">Description</label><br>
            <input type="radio" name="change_fn" value="Price" id="price_change">
            <label for="price_change">Price</label><br>
            <input type="radio" name="change_fn" value="Image" id="image_change">
            <label for="image_change">Image</label><br>
            <input type="radio" name="change_fn" value="Link" id="link_change">
            <label for="link_change">Link</label><br>

            <span>Change:</span>
            <input type="text" name="change_value" required="required" autocomplete="off">
            <br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>